<p>
  tesst mergr
</p>
<!-- <div>
    <p>Tên tôi là: {{name}}</p>
    <p>Tuổi là: {{age}}</p>
</div>
<p>Bạn có <span class="countPosts"> &nbsp;{{posts?.length}}&nbsp;</span> bài đăng</p> -->
<!-- <div *ngFor="let post of posts">
    <li>Posts: {{post | json}} </li>
</div> -->
<!-- <br>
<table id="customers" style="border-collapse: collapse;" >
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{post?.id}}</td>
        <td>{{post?.title}}</td>
        <td>{{post?.author}}</td>
      </tr>
</table> -->
<!-- <p>Posts[0]:</p>
<span *ngIf="posts">{{posts[0] | json}}</span> -->
<!-- <br>
<button (click)="addPosts()">Đăng Post</button> -->
<!-- Bắt đầu viết Web quản lý sinh viên ở đây